.testblack {
  border: 1px solid black !important;
}

.testred {
  border: 1px solid red !important;
}

.testblue {
  border: 1px solid blue !important;
}

.testyellow {
  border: 1px solid yellow !important;
}

.testwhite {
  border: 1px solid white !important;
}
