@charset "utf-8";

body {margin:0;padding:0;font-size:0.75em;line-height:1.5;font-family:Dotum, "돋움", Tahomasans-serif;color:#555;}

body.main{
	/* background:url('../images/common/bg_pattern.gif') repeat; */
}

div.main{
	width:458px;
	height:406px;
	background:url('../images/common/admin_frame.png') no-repeat;
}

div.main div {
	padding: 34px 0 0 0;
}

div.main div input {
	width: 274px;
	height: 37px;
	border: 1px solid #ff8403;
	color: #999;
	padding: 0 0 0 10px;
	margin: 0 8px 0 0;
	line-height: 28px;
	vertical-align: middle;
}

#login {
	padding-top: 210px;
	position: absolute;
	width: 458px;
}

#login .i_label {
	z-index: 20;
	display: block;
	position: static;
	top: 11px;
	left: 10px;
	color: #ff8403;
	font-family: Dotum, "돋움", Tahomasans-serif;
}

#login .item {
	position: relative;
	padding-bottom: 10px;
}

#login-input {
	width: 294px;
	padding: 0 0 0 0;
	float:left;
}


#login-btn {
	width: 164px;
	padding: 0 0 0 0;
	float:right;
}
